.cm-accordion {
  min-width: 200px;
  position: relative;
  box-shadow: 0 0 10px #333;
  border-right: 1px solid #d0d0d0;
  background: #414956;
  color: #f0f0f0;
}
.cm-accordion ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cm-accordion ul > li > a {
  border-bottom: solid 1px #3b424d;
}
.cm-accordion ul > li.active > a,
.cm-accordion ul > li:hover > a {
  color: #fff;
  background: #3b424d;
}
.cm-accordion ul > li .submenu {
  width: 100%;
  display: none;
  position: static;
  padding: 10px;
}
.cm-accordion ul > li .submenu li.active > a,
.cm-accordion ul > li .submenu li:hover > a {
  border-left-color: #3daeec;
  color: #3daeec;
}
.cm-accordion ul > li .submenu li a {
  padding-left: 50px;
  background: #383838;
  transition: border .2s linear;
  border-top: none;
  font-size: 12px;
  color: #f0f0f0;
  border-left: solid 6px transparent;
}
.cm-accordion ul > li .submenu li .submenu li a {
  padding-left: 45px;
}
.cm-accordion ul li {
  width: 100%;
  display: block;
  position: relative;
}
.cm-accordion ul li a {
  display: block;
  width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 13px;
  background: #414956;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  -o-transition: color .2s linear,background .2s linear;
  -moz-transition: color .2s linear,background .2s linear;
  -webkit-transition: color .2s linear,background .2s linear;
  transition: color .2s linear,background .2s linear;
}
.cm-accordion ul li a i {
  width: 34px;
  float: left;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
}
.cm-accordion .menu-label {
  min-width: 20px;
  padding: 1px 2px 1px 1px;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 11px;
  font-weight: 800;
  color: #555;
  text-align: center;
  line-height: 18px;
  background: #f0f0f0;
  border-radius: 100%;
}
.cm-accordion .submenu-indicator {
  float: right;
  right: 22px;
  position: absolute;
  line-height: 19px;
  font-size: 20px;
  -o-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -ms-transition: transform .3s linear;
}
.cm-accordion .submenu-indicator-minus > .submenu-indicator {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cm-accordion.blue {
  background: #4A89DC;
}
.cm-accordion.blue ul li a {
  background: #4A89DC;
}
.cm-accordion.blue > ul > li.active > a,
.cm-accordion.blue > ul > li:hover > a {
  background: #3e82da;
}
.cm-accordion.blue > ul > li > a {
  border-bottom-color: #3e82da;
}
.cm-accordion.blue ul ul.submenu li:hover > a {
  border-left-color: #3e82da;
}
.cm-accordion.green {
  background: #03A678;
}
.cm-accordion.green ul li a {
  background: #03A678;
}
.cm-accordion.green > ul > li.active > a,
.cm-accordion.green > ul > li:hover > a {
  background: #049372;
}
.cm-accordion.green > ul > li > a {
  border-bottom-color: #049372;
}
.cm-accordion.green ul ul.submenu li.active > a,
.cm-accordion.green ul ul.submenu li:hover > a {
  border-left-color: #049372;
}
.cm-accordion.red {
  background: #ED5565;
}
.cm-accordion.red ul li a {
  background: #ED5565;
}
.cm-accordion.red > ul > li.active > a,
.cm-accordion.red > ul > li:hover > a {
  background: #DA4453;
}
.cm-accordion.red > ul > li > a {
  border-bottom-color: #DA4453;
}
.cm-accordion.red ul ul.submenu li:hover > a {
  border-left-color: #DA4453;
}
.cm-accordion.white {
  background: #fff;
}
.cm-accordion.white ul li a {
  background: #fff;
  color: #555;
}
.cm-accordion.white > ul > li.active > a,
.cm-accordion.white > ul > li:hover > a {
  background: #f0f0f0;
}
.cm-accordion.white > ul > li > a {
  border-bottom-color: #f0f0f0;
}
.cm-accordion.white > ul > li > a > .ink {
  background: rgba(0, 0, 0, 0.1);
}
.cm-accordion.white ul ul.submenu li:hover > a {
  border-left-color: #f0f0f0;
}
.cm-accordion.black {
  background: #292929;
}
.cm-accordion.black ul li a {
  background: #292929;
}
.cm-accordion.black > ul > li.active > a,
.cm-accordion.black > ul > li:hover > a {
  background: #222;
}
.cm-accordion.black > ul > li > a {
  border-bottom-color: #222;
}
.cm-accordion.black ul ul.submenu li:hover > a {
  border-left-color: #222;
}
