.bg-blue {
  background: #20A0FF;
}
.bg-blue-light {
  background: #58B7FF;
}
.bg-blue-dark {
  background: #1D8CE0;
}
.bg-success {
  background: #13CE66;
}
.bg-warning {
  background: #F7BA2A;
}
.bg-danger {
  background: #FF4949;
}
.bg-dark {
  background: #1F2D3D;
}
.bg-dark-light {
  background: #324057;
}
.bg-dark-lighter {
  background: #475669;
}
.bg-silver {
  background: #8492A6;
}
.bg-silver-light {
  background: #99A9BF;
}
.bg-silver-lighter {
  background: #C0CCDA;
}
.bg-gray {
  background: #D3DCE6;
}
.bg-gray-light {
  background: #E5E9F2;
}
.bg-gray-lighter {
  background: #EFF2F7;
}
.bg-white {
  background: #FFFFFF;
}
.bg-white-light {
  background: #F9FAFC;
}
.text-blue {
  color: #20A0FF !important;
}
.text-blue-light {
  color: #58B7FF !important;
}
.text-blue-dark {
  color: #1D8CE0 !important;
}
.text-success {
  color: #13CE66 !important;
}
.text-warning {
  color: #F7BA2A !important;
}
.text-danger {
  color: #FF4949 !important;
}
.text-dark {
  color: #1F2D3D !important;
}
.text-dark-light {
  color: #324057 !important;
}
.text-dark-lighter {
  color: #475669 !important;
}
.text-silver {
  color: #8492A6 !important;
}
.text-silver-light {
  color: #99A9BF !important;
}
.text-silver-lighter {
  color: #C0CCDA !important;
}
.text-gray {
  color: #D3DCE6 !important;
}
.text-gray-light {
  color: #E5E9F2 !important;
}
.text-gray-lighter {
  color: #EFF2F7 !important;
}
.text-white {
  color: #FFFFFF !important;
}
.text-white-light {
  color: #F9FAFC !important;
}
.text-normal {
  color: #666666;
}
.text-promote {
  font-size: 12px;
  color: #999999;
}
.text-invalid {
  font-size: 12px;
  color: #cccccc;
}
.text-link {
  font-size: 12px;
  color: #20A0FF;
}
.main-title {
  font-size: 16px;
  color: #666666;
}
.main-title-bold {
  font-size: 16px;
  color: #666666;
  font-weight: 500;
}
.sub-title {
  font-size: 14px;
  color: #666666;
}
.sub-title-bold {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
}
.small-title {
  font-size: 12px;
  color: #666666;
}
.small-title-bold {
  font-size: 12px;
  color: #666666;
  font-weight: 500;
}
