a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:focus {
  outline: none;
}
.cm-button {
  position: relative;
  padding: 4px 15px;
  -webkit-user-select: none;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #000;
  border-radius: 2px;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: normal;
  -webkit-transition: background, -webkit-box-shadow 0.2s linear;
  -moz-transition: background, -moz-box-shadow 0.2s linear;
  -ms-transition: background, box-shadow 0.2s linear;
  -o-transition: background, box-shadow 0.2s linear;
  transition: background, box-shadow 0.2s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.cm-button.large {
  padding: 4px 15px 5px 15px;
  font-size: 14px;
}
.cm-button.small {
  padding: 1px 7px;
  font-size: 12px;
}
.cm-button.raised {
  -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.cm-button i.fa.left {
  margin-right: 5px;
}
.cm-button i.fa.right {
  margin-left: 5px;
}
.cm-button.cm-iconButton {
  padding: 0;
  overflow: visible;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.cm-button.cm-iconButton i.fa {
  overflow: hidden;
}
.cm-button.cm-iconButton i.fa.left,
.cm-button.cm-iconButton i.fa.right {
  margin: 0;
}
.cm-button.cm-iconButton:hover {
  background: transparent;
}
.cm-button:hover {
  background: rgba(153, 153, 153, 0.2);
}
.cm-button.flat {
  padding: 0 5px !important;
  -webkit-box-shadow: initial;
  -moz-box-shadow: initial;
  box-shadow: initial;
}
.cm-button.primary {
  color: #fff;
  background-color: #20A0FF;
  border-color: #20A0FF;
}
.cm-button.primary:hover {
  background-color: #53b6ff;
}
.cm-button.success {
  color: #fff;
  background-color: #13CE66;
  border-color: #13CE66;
}
.cm-button.success:hover {
  background-color: #29eb7f;
}
.cm-button.warning {
  color: #fff;
  background-color: #F7BA2A;
  border-color: #F7BA2A;
}
.cm-button.warning:hover {
  background-color: #f9ca5b;
}
.cm-button.danger {
  color: #fff;
  background-color: #FF4949;
  border-color: #FF4949;
}
.cm-button.danger:hover {
  background-color: #ff7c7c;
}
.cm-button[disabled] {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
  background: transparent;
}
.cm-button[disabled]:hover {
  background: transparent;
}
.cm-button[disabled] i.fa {
  color: rgba(0, 0, 0, 0.3);
}
