.clock-container {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: #ABAAAF;
}
.clock-container .clock-face {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 160px;
  border: 2px solid #fff;
  background-color: #333;
  position: relative;
}
.clock-container .clock-face .clock-numbers span {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: default;
  color: white;
}
.clock-container .clock-face .clock-numbers,
.clock-container .clock-face .click-hands {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 10px;
  top: 8px;
}
.clock-container .click-hands .hourHand,
.clock-container .click-hands .minuteHand,
.clock-container .click-hands .secondHand {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  margin-left: -2px;
  background-color: white;
  -webkit-transform-origin: 2px center;
  -moz-transform-origin: 2px center;
  -ms-transform-origin: 2px center;
  -o-transform-origin: 2px center;
  transform-origin: 2px center;
  -webkit-transform: translateX(-2px) rotateZ(-90deg);
  -moz-transform: translateX(-2px) rotateZ(-90deg);
  -ms-transform: translateX(-2px) rotateZ(-90deg);
  -o-transform: translateX(-2px) rotateZ(-90deg);
  transform: translateX(-2px) rotateZ(-90deg);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  border-radius: 3px;
}
.clock-container .click-hands .hourHand {
  width: 40px;
  height: 4px;
  background-color: #0074D9;
}
.clock-container .click-hands .minuteHand {
  width: 50px;
  background-color: red;
}
.clock-container .click-hands .secondHand {
  width: 65px;
  margin-left: -8px;
  background-color: #ccc;
  -webkit-transform-origin: 8px center;
  -moz-transform-origin: 8px center;
  -ms-transform-origin: 8px center;
  -o-transform-origin: 8px center;
  transform-origin: 8px center;
  -webkit-transform: translateX(-8px) rotateZ(-90deg);
  -moz-transform: translateX(-8px) rotateZ(-90deg);
  -ms-transform: translateX(-8px) rotateZ(-90deg);
  -o-transform: translateX(-8px) rotateZ(-90deg);
  transform: translateX(-8px) rotateZ(-90deg);
}
.clock-container .spinners {
  margin-top: 20px;
}
.clock-container .spinners .spinner {
  width: 52px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 30px;
  background-color: white;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  margin: 0 3px;
}
.clock-container .spinners .spinner span {
  display: inline-block;
}
.clock-container .spinners .spinner .spinner-plus,
.clock-container .spinners .spinner .spinner-subs {
  position: absolute;
  height: 50%;
  width: 20px;
  background-color: whitesmoke;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.clock-container .spinners .spinner i {
  position: relative;
  top: -3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clock-container .spinners .spinner .spinner-plus {
  top: 0;
  right: -1px;
}
.clock-container .spinners .spinner .spinner-subs {
  bottom: 0;
  right: -1px;
}
.clock-container .spinners .spinner .spinner-value {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding-left: 5px;
}
.clock-container .clock-close {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
