.cm-form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: transparent;
  padding: 4px;
  resize: none;
}
.cm-form-group {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cm-form-group.invalid .cm-form-control {
  border: 1px solid #E05B5B;
}
.cm-form-group .error-tip {
  white-space: nowrap;
}
.cm-form-group.inline {
  display: inline-block;
  white-space: nowrap;
}
.cm-form-group.inline .error-tip {
  display: none;
}
.cm-form-group.inline.invalid:hover .error-tip {
  display: inline-block;
}
.cm-form-group.input-group .input-group-addon {
  display: inline-block;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
  vertical-align: initial;
}
.cm-form-group.input-group .input-group-addon:first-child {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cm-form-group.input-group .input-group-addon:last-child {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cm-form-group.input-group .cm-form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cm-form-group.input-group .cm-form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cm-form-group.input-group .cm-form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
