.cm-tooltip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  max-width: 200px;
  opacity: 0.1;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: transform 0.2s,opacity 0.7s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s,opacity 0.7s;
}
.cm-tooltip.visible {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.cm-tooltip .cm-tooltip-body {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 3px;
}
.cm-tooltip .cm-tooltip-inner {
  max-width: 250px;
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  min-height: 34px;
}
.cm-tooltip .cm-tooltip-arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.cm-tooltip .cm-tooltip-arrow {
  border-width: 5px;
}
.cm-tooltip.top,
.cm-tooltip.topRight,
.cm-tooltip.topLeft {
  padding-bottom: 4px;
}
.cm-tooltip.top .cm-tooltip-arrow,
.cm-tooltip.topRight .cm-tooltip-arrow,
.cm-tooltip.topLeft .cm-tooltip-arrow {
  border-bottom-width: 0;
  bottom: -1px;
}
.cm-tooltip.bottom,
.cm-tooltip.bottomRight,
.cm-tooltip.bottomLeft {
  padding-top: 4px;
}
.cm-tooltip.bottom .cm-tooltip-arrow,
.cm-tooltip.bottomRight .cm-tooltip-arrow,
.cm-tooltip.bottomLeft .cm-tooltip-arrow {
  border-top-width: 0;
  top: -1px;
  border-bottom-color: rgba(64, 64, 64, 0.85);
}
.cm-tooltip.topRight .cm-tooltip-arrow,
.cm-tooltip.bottomRight .cm-tooltip-arrow {
  right: 16px;
}
.cm-tooltip.topLeft .cm-tooltip-arrow,
.cm-tooltip.bottomLeft .cm-tooltip-arrow {
  left: 16px;
}
.cm-tooltip.left,
.cm-tooltip.leftTop,
.cm-tooltip.leftBottom {
  padding-right: 4px;
}
.cm-tooltip.left .cm-tooltip-arrow,
.cm-tooltip.leftTop .cm-tooltip-arrow,
.cm-tooltip.leftBottom .cm-tooltip-arrow {
  border-right-width: 0;
  right: -1px;
  border-left-color: rgba(64, 64, 64, 0.85);
}
.cm-tooltip.leftTop .cm-tooltip-arrow,
.cm-tooltip.rightTop .cm-tooltip-arrow {
  top: 8px;
}
.cm-tooltip.leftBottom .cm-tooltip-arrow,
.cm-tooltip.rightBottom .cm-tooltip-arrow {
  bottom: 8px;
}
.cm-tooltip.right,
.cm-tooltip.rightTop,
.cm-tooltip.rightBottom {
  padding-left: 4px;
}
.cm-tooltip.right .cm-tooltip-arrow,
.cm-tooltip.rightTop .cm-tooltip-arrow,
.cm-tooltip.rightBottom .cm-tooltip-arrow {
  border-left-width: 0;
  left: -1px;
  border-right-color: rgba(64, 64, 64, 0.85);
}
.cm-tooltip.left .cm-tooltip-arrow,
.cm-tooltip.right .cm-tooltip-arrow {
  top: 50%;
  margin-top: -5px;
}
.cm-tooltip.top .cm-tooltip-arrow,
.cm-tooltip.bottom .cm-tooltip-arrow {
  left: 50%;
  margin-left: -5px;
}
.cm-tooltip.black .cm-tooltip-inner {
  background-color: #475669;
}
.cm-tooltip.black.top .cm-tooltip-arrow,
.cm-tooltip.black.topRight .cm-tooltip-arrow,
.cm-tooltip.black.topLeft .cm-tooltip-arrow {
  border-top-color: #475669;
}
.cm-tooltip.black.bottom .cm-tooltip-arrow,
.cm-tooltip.black.bottomRight .cm-tooltip-arrow,
.cm-tooltip.black.bottomLeft .cm-tooltip-arrow {
  border-bottom-color: #475669;
}
.cm-tooltip.black.left .cm-tooltip-arrow,
.cm-tooltip.black.leftTop .cm-tooltip-arrow,
.cm-tooltip.black.leftBottom .cm-tooltip-arrow {
  border-left-color: #475669;
}
.cm-tooltip.black.right .cm-tooltip-arrow,
.cm-tooltip.black.rightTop .cm-tooltip-arrow,
.cm-tooltip.black.rightBottom .cm-tooltip-arrow {
  border-right-color: #475669;
}
.cm-tooltip.default .cm-tooltip-inner {
  background-color: #ffffff;
  color: #324057;
}
.cm-tooltip.default.top .cm-tooltip-arrow,
.cm-tooltip.default.topRight .cm-tooltip-arrow,
.cm-tooltip.default.topLeft .cm-tooltip-arrow {
  border-top-color: #ffffff;
}
.cm-tooltip.default.bottom .cm-tooltip-arrow,
.cm-tooltip.default.bottomRight .cm-tooltip-arrow,
.cm-tooltip.default.bottomLeft .cm-tooltip-arrow {
  border-bottom-color: #ffffff;
}
.cm-tooltip.default.left .cm-tooltip-arrow,
.cm-tooltip.default.leftTop .cm-tooltip-arrow,
.cm-tooltip.default.leftBottom .cm-tooltip-arrow {
  border-left-color: #ffffff;
}
.cm-tooltip.default.right .cm-tooltip-arrow,
.cm-tooltip.default.rightTop .cm-tooltip-arrow,
.cm-tooltip.default.rightBottom .cm-tooltip-arrow {
  border-right-color: #ffffff;
}
.cm-tooltip.primary .cm-tooltip-inner {
  background-color: #20a0ff;
  color: #ffffff;
}
.cm-tooltip.primary.top .cm-tooltip-arrow,
.cm-tooltip.primary.topRight .cm-tooltip-arrow,
.cm-tooltip.primary.topLeft .cm-tooltip-arrow {
  border-top-color: #20a0ff;
}
.cm-tooltip.primary.bottom .cm-tooltip-arrow,
.cm-tooltip.primary.bottomRight .cm-tooltip-arrow,
.cm-tooltip.primary.bottomLeft .cm-tooltip-arrow {
  border-bottom-color: #20a0ff;
}
.cm-tooltip.primary.left .cm-tooltip-arrow,
.cm-tooltip.primary.leftTop .cm-tooltip-arrow,
.cm-tooltip.primary.leftBottom .cm-tooltip-arrow {
  border-left-color: #20a0ff;
}
.cm-tooltip.primary.right .cm-tooltip-arrow,
.cm-tooltip.primary.rightTop .cm-tooltip-arrow,
.cm-tooltip.primary.rightBottom .cm-tooltip-arrow {
  border-right-color: #20a0ff;
}
